@import "tailwindcss";

@font-face {
    font-family: "roboto";
    src: url('/font/Roboto.ttf');
}

@font-face {
    font-family: "montserrat";
    src: url('/font/Montserrat.ttf');
}
@theme {
    --color-light: #fff4f9;
    --font-montserrat: "montserrat";
    --font-roboto: "roboto";
}